Repository mithril-security/bastionlab, pull requests merged in 2022-12, with the labels that each got.

#100 Fix broken link on home
  docs/index.md
Labels: S-waiting-on-dhalf, C-docs

#92 Ophelie docs patch
  README.md
  docs/docs/concept-guides/confidential_computing.md
  docs/docs/concept-guides/remote_data_science.md
  docs/docs/concept-guides/threat_model.md
  docs/docs/homepage/BastionLab
  docs/docs/quick-tour/quick-tour.ipynb
  docs/docs/reference-guides/benchmarks/polars.md
  docs/docs/reference-guides/deployment/on_premise.md
  docs/docs/tutorials/installation.md
  docs/docs/tutorials/visualization.ipynb
  docs/index.md
  mkdocs.yml
Labels: P-critical, C-docs, A-general, S-Merge

#101 Adds challenge checking to auth
  docs/docs/quick-tour/quick-tour.ipynb
  docs/docs/tutorials/data_cleaning.ipynb
  server/Makefile
  server/bastionlab_common/src/auth.rs
  server/bastionlab_common/src/lib.rs
  server/bastionlab_common/src/session.rs
  server/bastionlab_polars/src/lib.rs
  server/bastionlab_torch/src/lib.rs
  server/src/main.rs
  server/tools/config.toml
Labels: A-security, C-bug, P-critical, S-waiting-on-opener

#119 Python wheel for the server
  server/Cargo.lock
  server/python-wheel/README.md
  server/python-wheel/pyproject.toml
  server/python-wheel/setup.py
  server/python-wheel/src/bastionlab_server/__init__.py
  server/python-wheel/src/bastionlab_server/server.py
  server/python-wheel/src/bastionlab_server/version.py
Labels: A-server, C-feature, P-critical, S-waiting-on-dhalf

#75 visualization PR
  client/src/bastionlab/polars/remote_polars.py
  docs/docs/quick-tour/quick-tour.ipynb
  docs/docs/tutorials/visualization.ipynb
Labels: A-client, C-feature, P-high, S-waiting-on-opener

#117 Py doc utils client
  .gitignore
  .readthedocs.yml
  client/src/bastionlab/client.py
  client/src/bastionlab/errors.py
  client/src/bastionlab/keys.py
  client/src/bastionlab/polars/client.py
  client/src/bastionlab/polars/policy.py
  client/src/bastionlab/polars/remote_polars.py
  client/src/bastionlab/polars/utils.py
  docs/generate_api_reference.sh
  docs/pdoc_template/config.mako
  docs/pdoc_template/css.mako
  docs/pdoc_template/head.mako
  docs/pdoc_template/logo.mako
  mkdocs.yml
Labels: A-client, P-critical, S-waiting-on-dhalf, C-docs

#113 Notebook Tutorial for Authentication
  docs/docs/tutorials/authentication.ipynb
Labels: P-critical, C-docs, A-general, S-waiting-on-Knulpinette

#112 vstack tuto
  docs/docs/tutorials/combining_datasets.ipynb
Labels: P-critical, C-docs, A-general, S-conflict

#130 Authenticated session doc
  docs/assets/authentication-flow.png
  docs/docs/concept-guides/authenticated_sessions.md
Labels: A-security, P-critical, S-waiting-on-dhalf, C-docs

#134 Adding PyPi section in installation manual for the sever part.
  docs/docs/tutorials/installation.md
Labels: S-waiting-on-dhalf, C-docs, S-waiting-on-Knulpinette

#122 barplot
  client/src/bastionlab/polars/remote_polars.py
  docs/docs/tutorials/visualization.ipynb
  docs/docs/use-cases/covid_use_case.ipynb
Labels: A-client, C-feature, P-high, S-waiting-on-opener

#129 Auth tutorial path ophelie
  docs/docs/tutorials/authentication.ipynb
Labels: A-security, P-high, C-docs, S-conflict

#139 swap order for join
  client/src/bastionlab/polars/remote_polars.py
Labels: A-client, C-bug, P-critical, S-waiting-on-dhalf

#138 Laura update vstack tuto
  docs/docs/tutorials/combining_datasets.ipynb
Labels: P-high, C-docs, A-general, S-waiting-on-opener

#120 Save df feature
  client/src/bastionlab/polars/client.py
  client/src/bastionlab/polars/policy.py
  client/src/bastionlab/polars/remote_polars.py
  docs/docs/quick-tour/quick-tour.ipynb
  docs/docs/tutorials/saving_dataframes.ipynb
  protos/bastionlab_polars.proto
  server/Makefile
  server/bastionlab_common/src/session.rs
  server/bastionlab_common/src/telemetry.rs
  server/bastionlab_polars/src/access_control.rs
  server/bastionlab_polars/src/composite_plan.rs
  server/bastionlab_polars/src/lib.rs
  server/src/main.rs
Labels: C-feature, P-medium, A-general, S-waiting-on-opener

#137 Documentation review
  README.md
  docs/assets/BastionLab_Scheme.jpg
  docs/assets/BastionLab_Workflow.png
  docs/docs/advanced/benchmarks/polars_benchmarks.md
  docs/docs/concepts-guides/confidential_computing.md
  docs/docs/concepts-guides/remote_data_science.md
  docs/docs/getting-started/installation.md
  docs/docs/homepage/BastionLab
  docs/docs/how-to-guides/covid_cleaning_exploration.ipynb
  docs/docs/quick-tour/quick-tour.ipynb
  docs/docs/security/authenticated_sessions.md
  docs/docs/security/threat_model_data_owner_owns_infrastructure.md
  docs/docs/tutorials/authentication.ipynb
  docs/docs/tutorials/combining_datasets.ipynb
  docs/docs/tutorials/data_cleaning.ipynb
  docs/docs/tutorials/saving_dataframes.ipynb
  docs/docs/tutorials/visualization.ipynb
  docs/index.md
  docs/stylesheets/extra.css
  mkdocs.yml
  server/python-wheel/README.md
Labels: P-high, C-docs, A-general, S-conflict

#143 Refresh session before request
  client/src/bastionlab/client.py
  client/src/bastionlab/polars/client.py
  client/src/bastionlab/torch/client.py
  protos/bastionlab.proto
  server/bastionlab_common/src/session.rs
Labels: A-client, A-security, C-bug, P-medium, S-waiting-on-dhalf

#145 Aggregation fix
  server/bastionlab_polars/src/access_control.rs
  server/bastionlab_polars/src/composite_plan.rs
  server/bastionlab_polars/src/lib.rs
  server/bastionlab_polars/src/serialization.rs
  server/bastionlab_polars/src/visitable.rs
Labels: A-privacy, C-bug, P-critical

#144 Privacy policy docs
  README.md
  docs/docs/concepts-guides/remote_data_science.md
  docs/docs/how-to-guides/covid_cleaning_exploration.ipynb
  docs/docs/quick-tour/quick-tour.ipynb
  docs/docs/tutorials/authentication.ipynb
  docs/docs/tutorials/defining_policy_privacy.ipynb
  docs/docs/tutorials/saving_dataframes.ipynb
  docs/stylesheets/extra.css
  mkdocs.yml
Labels: A-privacy, P-high, C-docs, S-waiting-on-Knulpinette
