Repository mithril-security/bastionlab, pull requests merged in 2023-02, with the labels that each got.

#213 quick tour update
  docs/docs/quick-tour/quick-tour.ipynb
Labels: P-high, S-waiting-on-dhalf

#210 Normalization V2
  client/src/bastionlab/polars/remote_polars.py
  client/src/bastionlab/polars/utils.py
  docs/docs/tutorials/normalization.ipynb
  mkdocs.yml
  server/bastionlab_polars/src/composite_plan.rs
Labels: A-client, C-feature, P-medium, S-waiting-on-dhalf

#194 Laura new vis fns
  client/setup.py
  client/src/bastionlab/polars/remote_polars.py
  client/src/bastionlab/polars/utils.py
  docs/assets/light.PNG
  docs/assets/mithril_2.PNG
  docs/assets/ocean.PNG
  docs/assets/standard.PNG
  docs/docs/tutorials/visualization.ipynb
Labels: A-client, C-feature, P-medium, S-waiting-on-opener

#222 reviewed boxplot
  docs/assets/light.png
  docs/assets/mithril_2.png
  docs/assets/ocean.png
  docs/assets/standard.png
  docs/docs/tutorials/visualization.ipynb
Labels: P-high, S-waiting-on-dhalf, C-docs

#227 fixed name in index
  mkdocs.yml
Labels: S-waiting-on-dhalf, C-docs

#214 added regex to check for alias operations
  server/Cargo.lock
  server/bastionlab_polars/Cargo.toml
  server/bastionlab_polars/src/composite_plan.rs
Labels: A-privacy, C-bug, P-high, S-delayed

#198 (feat) Remote tokenizers
  Dockerfile
  client/src/bastionlab/__init__.py
  client/src/bastionlab/client.py
  client/src/bastionlab/polars/client.py
  client/src/bastionlab/polars/remote_polars.py
  client/src/bastionlab/tokenizers/__init__.py
  client/src/bastionlab/tokenizers/client.py
  client/src/bastionlab/tokenizers/remote_tokenizers.py
  docs/docs/tutorials/data_conversion.ipynb
  protos/bastionlab_conversion.proto
  server/Cargo.lock
  server/bastionlab_common/src/array_store.rs
  server/bastionlab_common/src/common_conversions.rs
  server/bastionlab_common/src/lib.rs
  server/bastionlab_common/src/session.rs
  server/bastionlab_conversion/Cargo.toml
  server/bastionlab_conversion/src/converter.rs
  server/bastionlab_polars/Cargo.toml
  server/bastionlab_polars/src/lib.rs
  server/bastionlab_torch/src/lib.rs
  tests/test_conversion.py
  tests/test_tokenizers.py
  tests/test_training.py
Labels: A-client, A-server, C-feature, P-critical, S-waiting-on-opener

#219 better plan serialization
  client/setup.py
  client/src/bastionlab/__init__.py
  client/src/bastionlab/client.py
  client/src/bastionlab/polars/__init__.py
  client/src/bastionlab/polars/policy.py
  client/src/bastionlab/polars/remote_polars.py
  client/src/bastionlab/polars/utils.py
  client/src/bastionlab/torch/__init__.py
  client/src/bastionlab/torch/remote_torch.py
  docs/docs/tutorials/defining_policy_privacy.ipynb
  server/bastionlab_polars/src/access_control.rs
  server/bastionlab_polars/src/composite_plan.rs
Labels: A-client, C-cleanup, P-medium, S-waiting-on-dhalf

#224 Deployment cloud
  .env.vars
  .github/workflows/sync_versions.yml
  client/setup.py
  client/src/bastionlab/version.py
  docs/docs/getting-started/installation.md
  server/Dockerfile.gpu.sev
  server/build.sh
Labels: C-cleanup, P-high, S-waiting-on-dhalf, A-docker-build, A-rust-build, C-CI

#203 Describe method
  client/src/bastionlab/polars/remote_polars.py
  docs/docs/quick-tour/quick-tour.ipynb
Labels: A-client, A-server, C-feature, P-medium, S-waiting-on-opener

#217 Ophelie mkdocstrings implementation
  .gitignore
  docs/docs/gen_ref_pages.py
  docs/docs/reference/bastionlab_client.md
  docs/docs/tutorials/data_cleaning.ipynb
  docs/docs/tutorials/saving_dataframes.ipynb
  docs/fix_links.sh
  docs/generate_api_reference.sh
  docs/index.md
  docs/javascripts/navbar.js
  docs/material_theme_customization/main.html
  docs/stylesheets/extra.css
  mkdocs.yml
Labels: P-medium, S-blocked, C-docs, A-general

#230 Python documentation fixes!
  README.md
  client/src/bastionlab/__init__.py
  client/src/bastionlab/_converter.py
  client/src/bastionlab/_utils.py
  client/src/bastionlab/client.py
  client/src/bastionlab/errors.py
  client/src/bastionlab/keys.py
  client/src/bastionlab/polars/__init__.py
  client/src/bastionlab/polars/_utils.py
  client/src/bastionlab/polars/client.py
  client/src/bastionlab/polars/frame.py
  client/src/bastionlab/polars/utils.py
  client/src/bastionlab/tokenizers/__init__.py
  client/src/bastionlab/tokenizers/client.py
  client/src/bastionlab/tokenizers/remote_tokenizers.py
  client/src/bastionlab/torch/__init__.py
  client/src/bastionlab/torch/_utils.py
  client/src/bastionlab/torch/client.py
  client/src/bastionlab/torch/data.py
  client/src/bastionlab/torch/learner.py
  client/src/bastionlab/torch/optimizer.py
  client/src/bastionlab/torch/psg/__init__.py
  client/src/bastionlab/torch/psg/convert.py
  client/src/bastionlab/torch/psg/nn.py
  client/src/bastionlab/torch/utils.py
  docs/docs/tutorials/defining_policy_privacy.ipynb
  docs/generate_api_reference.sh
  tests/test_training.py
Labels: A-client, C-cleanup, P-medium, S-waiting-on-dhalf, C-docs
