Repository mithril-security/bastionlab, pull requests merged in 2023-01, with the labels that each got.

#161 Ophelie readme bastionlab ai
  README.md
  docs/index.md
  docs/stylesheets/extra.css
Labels: P-high, S-waiting-on-dhalf, C-docs, A-general

#160 Ophelie bastionai doc review
  docs/docs/advanced/benchmarks/Torch/bench-amd-epyc-7763.md
  docs/docs/advanced/benchmarks/Torch/bench-nvidia-a100-v100.md
  docs/docs/advanced/benchmarks/polars_benchmarks.md
  docs/docs/advanced/benchmarks/torch_benchmarks.md
  docs/docs/advanced/contributing/code_of_conduct.md
  docs/docs/advanced/contributing/contributing.md
  docs/docs/how-to-guides/distilbert_example_notebook.ipynb
  docs/docs/quick-tour/quick-tour.ipynb
  docs/docs/security/authenticated_sessions.md
  mkdocs.yml
Labels: P-high, S-waiting-on-dhalf, C-docs, A-general

#166 Ophelie css
  docs/docs/how-to-guides/covid_cleaning_exploration.ipynb
  docs/material_theme_customization/main.html
  docs/stylesheets/extra.css
  mkdocs.yml
Labels: P-medium, S-waiting-on-dhalf, C-docs, A-general

#168 Delete dataframes
  client/src/bastionlab/polars/client.py
  client/src/bastionlab/polars/remote_polars.py
  docs/docs/quick-tour/quick-tour.ipynb
  protos/bastionlab_polars.proto
  server/bastionlab_common/src/auth.rs
  server/bastionlab_common/src/session.rs
  server/bastionlab_common/src/telemetry.rs
  server/bastionlab_polars/src/lib.rs
Labels: A-protocol, C-feature, P-medium, S-waiting-on-opener

#175 unified tutorial boilerplate...
  docs/docs/how-to-guides/covid_cleaning_exploration.ipynb
  docs/docs/quick-tour/quick-tour.ipynb
  docs/docs/tutorials/authentication.ipynb
  docs/docs/tutorials/visualization.ipynb
Labels: P-high, S-waiting-on-dhalf, C-docs, A-general

#172 Code quality & simplify session code
  server/bastionlab_common/src/session.rs
  server/bastionlab_learning/src/nn/module.rs
  server/bastionlab_learning/src/nn/parameters.rs
  server/bastionlab_learning/src/serialization.rs
  server/bastionlab_polars/src/composite_plan.rs
  server/bastionlab_polars/src/lib.rs
  server/bastionlab_torch/src/learning.rs
  server/bastionlab_torch/src/lib.rs
Labels: A-server, C-cleanup, S-waiting-on-dhalf

#188 Better error messages for invalid logical plans (closes #181)
  client/src/bastionlab/polars/remote_polars.py
Labels: A-client, C-bug

#189 Adding styling for warning notes in the notebooks
  docs/docs/tutorials/SQL_queries.ipynb
  docs/docs/tutorials/combining_datasets.ipynb
  docs/docs/tutorials/data_cleaning.ipynb
  docs/docs/tutorials/saving_dataframes.ipynb
  docs/docs/tutorials/visualization.ipynb
  docs/material_theme_customization/main.html
Labels: S-waiting-on-dhalf, C-docs

#190 CI: fix wrong docker image launched
  .github/workflows/test_client.yml
Labels: P-high, S-waiting-on-dhalf, C-CI, A-tests

#174 return cleanly from visual functions if request rejected
  client/src/bastionlab/errors.py
  client/src/bastionlab/polars/remote_polars.py
Labels: A-client, C-bug, P-high, S-waiting-on-opener

#193 Fix background color on warning notes in notebook
  docs/material_theme_customization/main.html
Labels: S-waiting-on-dhalf, C-docs

#192 quick fix done
  docs/docs/security/threat_model_data_owner_owns_infrastructure.md
Labels: P-high, S-waiting-on-dhalf

#191 [FIX] Fixes dtype error in FetchableLazyFrame
  client/src/bastionlab/polars/remote_polars.py
  tests/test_dtypes.py
Labels: A-client, P-critical, S-waiting-on-dhalf

#187 Rework Serialization
  client/src/bastionlab/polars/client.py
  client/src/bastionlab/polars/utils.py
  protos/bastionlab_polars.proto
  server/Cargo.lock
  server/Cargo.toml
  server/bastionlab_common/Cargo.toml
  server/bastionlab_polars/Cargo.toml
  server/bastionlab_polars/src/lib.rs
  server/bastionlab_polars/src/serialization.rs
  server/bastionlab_polars/src/utils.rs
  server/bastionlab_torch/Cargo.toml
Labels: A-client, A-server, A-protocol, C-bug, C-cleanup, P-high, S-waiting-on-dhalf

#196 Removal of cells tags when generating the documentation
  .readthedocs.yml
  docs/remove_cells_tags.sh
Labels: S-waiting-on-dhalf, C-docs

#205 Update README.md
  README.md
Labels: P-high, S-waiting-on-dhalf

#201 Change style admonition
  docs/material_theme_customization/main.html
  mkdocs.yml
Labels: S-waiting-on-dhalf, C-docs

#206 [FIX] Fixes odd symbolic dataframe repr in FetchableLazyFrame
  client/src/bastionlab/polars/remote_polars.py
  tests/test_dtypes.py
Labels: A-client, C-bug, P-high, S-waiting-on-dhalf

#178 Normalization
  client/src/bastionlab/polars/remote_polars.py
  client/src/bastionlab/polars/utils.py
  docs/docs/tutorials/normalization.ipynb
  server/bastionlab_polars/src/composite_plan.rs
Labels: A-client, C-feature, P-medium, S-waiting-on-dhalf

#209 notebook
  docs/docs/how-to-guides/fraud_detection.ipynb
Labels: P-high, S-waiting-on-dhalf

#202 [Workflow] Upload binary to Release
  .github/workflows/release_bin.yml
  .gitignore
  client/Makefile
  client/src/bastionlab/version.py
Labels: P-high, S-waiting-on-opener, C-CI, A-colab-build

#195 (feat) (improv) Improves data-conversion feature and groups more functionalities
  .github/workflows/test_client.yml
  client/setup.py
  client/src/bastionlab/client.py
  client/src/bastionlab/converter.py
  client/src/bastionlab/polars/__init__.py
  client/src/bastionlab/polars/client.py
  client/src/bastionlab/polars/remote_polars.py
  client/src/bastionlab/torch/client.py
  client/src/bastionlab/torch/learner.py
  client/src/bastionlab/torch/remote_torch.py
  client/src/bastionlab/torch/utils.py
  docs/docs/tutorials/data_conversion.ipynb
  protos/bastionlab.proto
  protos/bastionlab_conversion.proto
  protos/bastionlab_polars.proto
  protos/bastionlab_torch.proto
  server/Cargo.lock
  server/Cargo.toml
  server/bastionlab_common/Cargo.toml
  server/bastionlab_common/src/common_conversions.rs
  server/bastionlab_common/src/lib.rs
  server/bastionlab_conversion/Cargo.toml
  server/bastionlab_conversion/build.rs
  server/bastionlab_conversion/src/converter.rs
  server/bastionlab_conversion/src/lib.rs
  server/bastionlab_learning/src/data/dataset.rs
  server/bastionlab_learning/src/data/mod.rs
  server/bastionlab_learning/src/nn/parameters.rs
  server/bastionlab_learning/src/serialization.rs
  server/bastionlab_polars/src/composite_plan.rs
  server/bastionlab_polars/src/lib.rs
  server/bastionlab_polars/src/utils.rs
  server/bastionlab_torch/build.rs
  server/bastionlab_torch/src/learning.rs
  server/bastionlab_torch/src/lib.rs
  server/bastionlab_torch/src/serialization.rs
  server/bastionlab_torch/src/utils.rs
  server/src/main.rs
  tests/test_conversion.py
  tests/test_training.py
Labels: A-client, A-server, C-feature, P-critical, S-waiting-on-opener
